body {
    font-family:'Courier New', Courier, monospace;
}

.Raccoon {
    width: 156;
    height: 218;
}

.flip {
    transform: scaleX(-1);
}

#myTabContent {
    height: 400px;
}

.nav-link{
    color: black;
}